<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce-Musica</title>
    <link rel="shortcut icon" href="..img/favicon.ico" type="image/x-icon">
    <!-- forma de link preff -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>    
    <header class="header">
        <img src="../img/headers/header.png" alt="fondo violeta">
        <nav>
            <a href="../index.html">
                <img src="../img/logoooooo.png" alt="Logo de Tunner">
            </a>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>  
                </li>
                <li>
                    <a href="#">Biblioteca</a>
                </li>
                <li>
                    <a href="../Views/Buscar.html">Buscar</a>
                </li>
            </ul>
        </nav>
    </header>

    <hr>
    <!-- empieza el main -->

    <main class="biblioteca">
        <h1 class="biblioteca__title--xl">Biblioteca</h1>
        <article class="biblioteca__articulo"> 
            <h2>Watermelon Sugar</h2>
            <img src="../img/headers/harry styles 1.webp" alt="portada_del_tema">
        </article>
        <article class="biblioteca__articulo"> 
            <h2>Adele</h2>
            <img src="../img/headers/adele.jpg" alt="portada_del_tema">
        </article>
        <footer>
            <a href="#" target="_blank">
                <img src="img/icons/Facebook.png" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="img/icons/Instagram.png" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="img/icons/TikTok.png" alt="">
            </a>
        </footer>
    </main>
</body>
</html>