<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce-Musica</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav>
        <a href="../index.html">
            <img src="../img/logoooooo.png" alt="Logo de Tunner">
        </a>
        <ul>
            <li>
                <a href="../index.html">Inicio</a>  
            </li>
            <li>
                <a href="../Views/Biblioteca.html">Biblioteca</a>
            </li>
            <li>
                <a href="#">Buscar</a>
            </li>
        </ul>
    </nav>
    
    <header>
        <img src="../img/headers/header.png" alt="fondo violeta">
    </header>

    <!-- empieza el main -->

    <main>
        <h1>Buscar</h1>
        <!-- tabla de productos -->
        <table>
            <tr>
                <th>Producto</th>
                <th>Codigo</th>
                <th>Precio</th>
            </tr>
        </table>
    </main>
</body>
</html>